aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
ansible==13.5.0
ansible-core==2.20.4
anyio==4.13.0
applicationinsights==0.11.10
argcomplete==3.5.3
asgiref==3.11.1
attrs==26.1.0
azure-ai-ml==1.31.0
azure-appconfiguration==1.8.0
azure-cli-core==2.75.0
azure-cli-telemetry==1.1.0
azure-common==1.1.28
azure-containerregistry==1.2.0
azure-core==1.38.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-eventhub==5.15.0
azure-identity==1.25.2
azure-keyvault==4.2.0
azure-keyvault-certificates==4.10.0
azure-keyvault-keys==4.11.0
azure-keyvault-secrets==4.10.0
azure-keyvault-securitydomain==1.0.0b1
azure-mgmt-apimanagement==4.0.1
azure-mgmt-appconfiguration==5.0.0
azure-mgmt-authorization==4.0.0
azure-mgmt-automation==1.1.0b4
azure-mgmt-batch==17.3.0
azure-mgmt-cdn==13.1.1
azure-mgmt-compute==33.0.0
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-containerservice==32.1.0
azure-mgmt-core==1.6.0
azure-mgmt-cosmosdb==10.0.0b3
azure-mgmt-datafactory==9.0.0
azure-mgmt-devtestlabs==10.0.0b2
azure-mgmt-dns==8.1.0
azure-mgmt-eventgrid==10.4.0
azure-mgmt-eventhub==11.1.0
azure-mgmt-hdinsight==9.1.0b1
azure-mgmt-iothub==3.0.0
azure-mgmt-keyvault==12.1.1
azure-mgmt-loganalytics==13.0.0b7
azure-mgmt-managedservices==7.0.0b2
azure-mgmt-managementgroups==1.1.0b2
azure-mgmt-marketplaceordering==1.2.0b2
azure-mgmt-monitor==6.0.2
azure-mgmt-mysqlflexibleservers==1.0.0
azure-mgmt-network==28.0.0
azure-mgmt-notificationhubs==8.1.0b1
azure-mgmt-nspkg==3.0.2
azure-mgmt-postgresqlflexibleservers==2.0.0
azure-mgmt-privatedns==1.2.0
azure-mgmt-rdbms==10.2.0b17
azure-mgmt-recoveryservices==3.0.0
azure-mgmt-recoveryservicesbackup==9.1.0
azure-mgmt-redis==14.4.0
azure-mgmt-resource==23.2.0
azure-mgmt-resourcegraph==8.1.0b3
azure-mgmt-resourcehealth==1.0.0b6
azure-mgmt-search==9.2.0b2
azure-mgmt-servicebus==8.2.1
azure-mgmt-sql==4.0.0b19
azure-mgmt-storage==21.2.1
azure-mgmt-trafficmanager==1.1.0
azure-mgmt-web==7.3.1
azure-monitor-opentelemetry==1.8.7
azure-monitor-opentelemetry-exporter==1.0.0b51
azure-nspkg==3.0.2
azure-servicebus==7.14.2
azure-storage-blob==12.23.0b1
azure-storage-file-datalake==12.16.0
azure-storage-file-share==12.24.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==46.0.7
distro==1.9.0
frozenlist==1.8.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.1
isodate==0.7.2
Jinja2==3.1.6
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
knack==0.11.0
MarkupSafe==3.0.3
marshmallow==3.26.2
microsoft-kiota-abstractions==1.10.0
microsoft-kiota-authentication-azure==1.10.0
microsoft-kiota-http==1.10.0
microsoft-kiota-serialization-form==1.10.0
microsoft-kiota-serialization-json==1.10.0
microsoft-kiota-serialization-multipart==1.10.0
microsoft-kiota-serialization-text==1.10.0
microsoft-security-utilities-secret-masker==1.0.0b4
msal==1.33.0b1
msal-extensions==1.2.0
msgraph-core==1.3.8
msgraph-sdk==1.6.0
msrest==0.7.1
multidict==6.7.1
netaddr==1.3.0
numpy==2.4.4
oauthlib==3.3.1
opentelemetry-api==1.40.0
opentelemetry-instrumentation==0.61b0
opentelemetry-instrumentation-asgi==0.61b0
opentelemetry-instrumentation-dbapi==0.61b0
opentelemetry-instrumentation-django==0.61b0
opentelemetry-instrumentation-fastapi==0.61b0
opentelemetry-instrumentation-flask==0.61b0
opentelemetry-instrumentation-logging==0.61b0
opentelemetry-instrumentation-psycopg2==0.61b0
opentelemetry-instrumentation-requests==0.61b0
opentelemetry-instrumentation-urllib==0.61b0
opentelemetry-instrumentation-urllib3==0.61b0
opentelemetry-instrumentation-wsgi==0.61b0
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
opentelemetry-util-http==0.61b0
oras==0.2.42
packaging==26.0
pandas==3.0.2
pkginfo==1.12.1.2
portalocker==2.10.1
propcache==0.4.1
psutil==7.2.2
py-deviceid==0.1.1
pycparser==3.0
pydash==8.0.6
Pygments==2.20.0
PyJWT==2.12.1
pyOpenSSL==26.0.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
referencing==0.37.0
requests==2.33.1
requests-oauthlib==2.0.0
resolvelib==1.2.1
rpds-py==0.30.0
six==1.17.0
std-uritemplate==2.0.8
strictyaml==1.7.3
tabulate==0.10.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
wrapt==1.17.3
xmltodict==1.0.4
yarl==1.23.0
zipp==3.23.0
