mysql_db_name: "wordpress"
mysql_admin_user: "wpadmin"
mysql_admin_password: "mysql*password"
vm_admin_user: "azureuser"
ssh_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCpUWJeuVkkiRFSYh2e8x3poH/ITW8CR6Vwq2v/7JdQmRIFL4lHGzvekmFnIe98s4iN/gUEq6+I+bVCiYQe0nrJ0UBOdCk4NjVaZGwxBEgIQVqB3c6ZoCwiFEt7Yxx5O8EFc26QyutQlv0TQailTBguNqeKGRE+jyrUxjYgyXzcmyc7W6bR3SmaFcdqRKCK2iAAccMvdIphwW7wHK2Ni956sIp6FESnXlV7CYjVZllOW6/DvpIu2hs81dDHp0Np2gaVmpz4ZD83F4TGUGNk4sFUjjDv3amjmBnI4gfR4Dd8WxH5tR94TNmXlRnj593V7uzDpMF4X/hgoNTxaE+ElVUnT/dI3koV8UgWgb4XtzgV8VcmxKDVnUdHFMxSA/c0Ta2YviA2EAQIYe5ltHV638peIIjt2u6tFvR96+6YIJ8rZgZdewozlGAAoFZpI7yrQtI4bEHD7tRCotq5jG0BkB37AslLRqJ6y2J4yMnKs2tgch+ym40G5FSe4Vi04YwyBLpqSIJd9bkqbkLki9ieXjAw2VTRVMVeK7IcKP7hPILo8pmsUh1PIpJP1hLjlIgxG/ANoqLd1ycsKu2VRoWRUfFyipX0bN+DBpmZn4xDYKExXXetGFbP/CYOPFLCh5YsOngiP/cYjPoVNvAhK9Z0zJw4KX7uudlXLbAd3Fg73F1UDw== "