mysql_db_name: "wordpress"
mysql_admin_user: "wpadmin"
mysql_admin_password: "TonMotDePasseMySQLSuperSecurise123!"
ssh_public_key: "ssh-rsa VOTRE_CLE_PUBLIQUE_ICI"
ssh_private_key: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  VOTRE_CLE_PRIVEE_ICI
  -----END OPENSSH PRIVATE KEY-----
